.navbar-container {
	background-color: var(--nav-background);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-left-portion {
	display: flex;
	align-items: center;
}

.navbar-left-portion img {
	height: 35px;
	filter: brightness(0.2);
	cursor: pointer;
	margin-right: 20px;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.search-container input {
	border-radius: 50px;
	outline: none;
	border: 1px solid var(--main-background);
	padding: 5px 40px 5px 10px;
	font-size: 15px;
	font-weight: 500;
	width: 250px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.search-container img {
	position: absolute;
	right: -10px;
	cursor: text;
	height: 28px;
}

.menu-button-container {
	display: flex;
	align-items: center;
	/* column-gap: 50px;
	margin-left: 10px; */
	width: 500px;
	justify-content: space-between;
}

.menu-button-container p {
	text-decoration: underline;
	cursor: pointer;
	font-weight: 500;
	font-size: 15px;
	color: var(--accent1);
	transition: 0.2s;
	text-underline-offset: 5px;
}

.navbar-right-portion {
	display: flex;
}

.navbar-button-container-holder {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-button-container {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.navbar-button-container img {
	height: 30px;
	filter: brightness(0.4);
	cursor: pointer;
	transition: 0.2s;
}

.navbar-button-container img:hover {
	filter: brightness(0.2);
}

.navbar-button-container button {
	border: none;
	color: var(--accent-main);
	padding: 3px 5px;
	border-radius: 50px;
	outline: none;
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
	transition: 0.25s;
	margin-top: 5px;

	border: solid 3px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(-20deg, var(--light-blue), var(--dark-blue));
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px var(--nav-background) inset;
}

.navbar-button-container button:hover {
	box-shadow: none;
	color: white;
}

.profile-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-container h5 {
	font-weight: 600;
	font-size: 14px;
	margin-right: 10px;
	color: var(--dark-primary);
}

.profile-img {
	display: flex;
	min-width: 50px;
	width: 50px;
	height: 50px;
	border-radius: 60%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	box-shadow: 0px 2px 2px rgb(10, 10, 10);
}

.profile-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.logout-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
}

.logout-container img {
	height: 30px;
	filter: brightness(0.3);
}

.profile-modal-container {
	position: relative;
}

.profile-modal-container .profile-modal-style {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--dark-primary);
	padding: 10px;
	z-index: 1000;
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
	border: 1px solid var(--border1);
	width: 300px;
	/* height: 400px; */
}

.profile-modal-container .overlay-style {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1000;
}

.profile-modal-header .modal-close {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-modal-style .profile-modal-header .modal-close .closeIcon {
	height: 28px;
	cursor: pointer;
	filter: brightness(1);
	opacity: 1;
}

.profile-modal-header .modal-sub-text {
	text-align: center;
	padding-bottom: 5px;
	color: var(--accent2);
	font-weight: 600;
	border-bottom: 1px solid var(--border1);
	font-size: 13px;
}

.profile-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
}

.profile-image-container {
	position: relative;
}

.profile-image {
	min-width: 150px;
	width: 150px;
	height: 150px;
	border-radius: 60%;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	box-shadow: 0px 2px 8px rgb(0, 0, 0);
	margin-bottom: 5px;
}

.profile-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.camera {
	background-color: rgba(255, 255, 255, 0.164);
	padding: 10px 10px 3px 10px;
	border-radius: 30px;
	position: absolute;
	right: 5px;
	bottom: 5px;
	cursor: pointer;
	box-shadow: 0px 2px 5px rgb(10, 10, 10);
}

.camera img {
	height: 20px;
}

.profile-data {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.profile-data input {
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 600;
	padding: 5px 5px;
	color: black;
	text-align: center;
	border-bottom: 1px solid var(--border1);
	box-shadow: 1px 1px 4px black;
	background-color: white;
	margin: 3px 0;
	/* background-color: var(--dark-primary); */
}

.profile-data button {
	text-align: center;
	border-radius: 50px;
	padding: 5px;
	width: 100%;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	color: white;
	border: solid 3px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(-20deg, var(--light-blue), var(--dark-blue));
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px var(--dark-primary) inset;
	transition: 0.2s;
}

.profile-data button:hover {
	box-shadow: none;
}

.file-picker {
	border-radius: 5px;
	padding: 5px 10px;
	text-align: center;
	outline: none;
	border: none;
	font-weight: 500;
	color: var(--accent1);
	font-size: 12px;
	width: 80%;
	margin: 3px auto;
	border: 1px solid var(--border1);
	margin-bottom: 20px;
	background-color: var(--dark-primary);
}

.file-picker h3 {
	color: var(--nav-background);
	padding: 5px;
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--border1);
}

.file-picker p {
	color: var(--accent2);
	padding: 5px;
	font-size: 11px;
	font-weight: 500;
}

.file-picker input {
	color: var(--accent2);
}

.img-holder {
	width: 70%;
	border: 1px solid var(--border1);
	padding: 5px;
	margin: 10px auto;
	border-radius: 3px;
}

.img-holder img {
	width: 100%;
	height: 100%;
	color: var(--accent2);
	object-fit: cover;
}

.update button {
	color: white;
	border-radius: 50px;
	padding: 5px 20px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.25s;
	font-weight: 600;
	width: 100%;

	border: solid 3px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(-20deg, #00b2ff, #006aff);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px var(--dark-primary) inset;
	transition: 0.2s;
}

.update button:hover {
	box-shadow: none;
}
