.application-form-container {
	padding: 10px 0;
	background-color: var(--main-backgrund);
	position: relative;
	animation-name: showFromTop;
	animation-duration: 0.5s;
}

.back-icon-container {
	z-index: 3;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

.preview-container {
	width: 95%;
	background-color: var(--dark-primary);
	padding-bottom: 5px;
	/* box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.664); */
	margin: 0 auto;
	border: 1px solid var(--border1);
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 5px;
	overflow: hidden;
}
.preview-wrapper {
	overflow: hidden;
}

.company-img {
	position: relative;
}

.company-img a {
	color: var(--accent-main);
}
.company-img a h2 {
	font-size: 15px;
	text-align: center;
	font-weight: 600;
	text-decoration: underline;
	color: var(--accent-main);
	text-decoration: none;
}

.company-img-wrapper {
	width: 150px;
	height: 150px;
	border-radius: 90%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 5px;
	box-shadow: 0px 2px 5px rgb(10, 10, 10);
}

.company-img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.apply-detail-container {
	display: flex;
	flex-direction: column;
}

.apply-detail {
	display: flex;
	border-bottom: 1px solid var(--border1);
	align-items: center;
}

.apply-detail p {
	font-size: 13px;
	flex: 1.4;
	text-align: right;
	margin-right: 8px;
	color: var(--accent1);
}

.apply-detail h4 {
	font-size: 13px;
	flex: 2;
	color: var(--accent1);
	font-weight: 600;
}

.post-content {
	border: none;
	padding: 0;
}

.post-content-body {
	transition: 0.3s height ease-out;
}

.post-content h2 {
	color: var(--accent1);
	font-size: 13px;
	font-weight: 600;
	margin-top: 20px;
	text-align: left;
}

.job-qualification-portion h3 {
	font-size: 13px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 2px;
	color: var(--accent1);
	text-align: center;
	padding: 0;
}

.job-qualification-portion p {
	font-size: 13px;
	color: var(--accent1);
	margin-bottom: 2px;
}

.btn {
	border-top: 1px solid var(--border1);
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 10px 0 5px 0;
	padding-top: 10px;
}

.btn button {
	color: var(--accent-main);
	border-radius: 50px;
	padding: 5px 10px;
	width: 10em;
	cursor: pointer;
	font-weight: 500;
	border: solid 3px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(-20deg, #00b2ff, #006aff);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px var(--dark-primary) inset;
	transition: 0.2s;
}

.btn button:hover {
	box-shadow: none;
	/* color: var(--accent-main); */
	color: white;
}

/* form */
.application-form {
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;
}

.application-form h2 {
	font-size: 16px;
	text-align: center;
	font-weight: 600;
	text-decoration: underline;
	color: var(--accent-main);
	margin-bottom: 5px;
}

.app-form {
	border: 1px solid var(--border1);
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	background-color: var(--dark-primary);
}

.app-form .fields {
	width: 95%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.app-form .fields .field {
	display: flex;
	flex-direction: column;
	margin: 3px 0;
}

.app-form .fields .field label {
	font-size: 13px;
	color: var(--accent-main);
	font-weight: 500;
}

.app-form .fields .field input,
.app-form .fields .field select,
.app-form .fields .field textarea,
.birthdate-field .birthdate input {
	padding: 5px 6px;
	outline: none;
	font-size: 13px;
	font-weight: 500;
	border-radius: 5px;
	background-color: white;
	color: black;
	border: none;
	text-align: center;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.app-form .fields .field input:disabled {
	color: var(--accent2);
	background-color: var(--dark-secondary);
	opacity: 0.8;
}
.app-form .fields .field select:disabled {
	color: var(--accent2);
	background-color: var(--dark-secondary);
	opacity: 0.8;
}
.app-form .fields .field textarea:disabled {
	color: var(--accent2);
	background-color: var(--dark-secondary);
	opacity: 0.8;
}
.birthdate-field .birthdate input:disabled {
	color: var(--accent2);
	background-color: var(--dark-secondary);
	opacity: 0.8;
}

.app-form .fields .field textarea {
	text-align: left;
}

.app-form button {
	width: 92.5%;
	margin: 0 auto;
	margin-top: 10px;
	cursor: pointer;
	color: var(--accent-main);
	border-radius: 50px;
	padding: 5px;
	font-weight: 600;
	border: solid 3px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(-20deg, #00f33d, #88ff00);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px var(--dark-primary) inset;
	position: relative;
	transition: 0.2s;
}

.app-form button:hover {
	box-shadow: none;
	color: var(--accent-main);
	font-weight: 600;
}

/* .app-form button:active {
	transform: scale(0.98);
} */

.status-group {
	display: flex;
	justify-content: space-between;
	/* border: 1px solid var(--border1); */
	/* border-radius: 5px; */
	/* margin: 5px 0 2px 0; */
	padding-bottom: 5px;
}

.birthdate-field {
	/* border: 1px solid var(--border1); */
	border-radius: 5px;
	flex: 1;
}

.birthdate-field select {
	padding: 3px 6px;
	outline: none;
	font-size: 13px;
	font-weight: 500;
	border-radius: 5px;
	border: none;
	text-align: center;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.birthdate-field select:disabled {
	color: var(--accent2);
	background-color: var(--dark-secondary);
}

.birthdate-field label {
	font-size: 13px;
	display: flex;
	/* justify-content: center; */
	color: var(--accent-main);
	font-weight: 500;
}

.birthdate {
	display: flex;
	justify-content: space-around;
}

.application-status-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}

.application-status-container p {
	font-size: 13px;
	color: var(--accent1);
	font-weight: 500;
}

.application-status-container h3 {
	font-size: 13px;
	color: var(--accent-main);
	font-weight: 600;
	margin-left: 5px;
}

.application-form-delete-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 15px;
	top: 20px;
	z-index: 3;
}

.application-form-delete-container img {
	height: 15px;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.2s;
}

.application-form-delete-container img:hover {
	opacity: 1;
}

.employment-status-fields {
	display: flex;
	justify-content: space-around;
	flex: 1;
}

@media only screen and (min-width: 700px) {
	.group-field {
		display: flex;
	}

	.field {
		flex: 1;
		padding: 0 10px;
	}

	.birthdate {
		justify-content: space-between;
	}
	.employment-status-fields {
		justify-content: space-between;
	}
}

@media only screen and (max-width: 300px) {
	.employment-status-fields,
	.birthdate {
		flex-direction: column;
		row-gap: 5px;
	}

	.birthdate input {
		width: 100%;
		margin: 0 auto;
	}
}

@keyframes showFromTop {
	0% {
		opacity: 0;
		top: 100px;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}
