@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
	--main-background: #0f0f0f;
	/* --main-background: #ebebeb; */
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Poppins";
	/* user-select: none; */
}

body {
	/* background-color: var(--main-background); */
	color: rgb(240, 240, 240);
	scroll-behavior: smooth;
	transition: 0.5s;
}

/* html {
	scroll-behavior: smooth;
} */