a {
	text-decoration: none;
}

.job {
	border-radius: 5px;
	display: flex;
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
	/* box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); */
	box-shadow: var(--shadow);
	margin-bottom: 10px;
	border-bottom: 1px solid var(--border1);
	cursor: pointer;
	transition: 0.1s;
}

.job:active {
	transform: scale(0.99);
}

.job-status {
	width: 5px;
}

.job-detail-container {
	display: flex;
	flex-direction: column;
	flex: 5;
	padding: 10px;
}

.job-detail-upper-portion {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.job-detail-upper-portion h2 {
	font-size: 13px;
	font-weight: 600;
	color: var(--accent1);
	flex: 4;
	display: flex;
	align-items: center;
}

.job-detail-upper-portion h2 div {
	height: 10px;
	width: 10px;
	border-radius: 20px;
	margin-left: 5px;
}

.job-detail-upper-portion p {
	color: var(--accent2);
	font-size: 12px;
	text-align: right;
	flex: 2;
	font-weight: 500;
}

.job-detail-lower-portion {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.job-detail-lower-portion p {
	padding: 0;
	color: var(--reddish);
	font-size: 12px;
	text-align: right;
	font-weight: 500;
}

.job-detail-lower-portion-left {
	display: flex;
}

.job-detail-lower-portion-left h3 {
	padding: 0;
	color: var(--dark-blue);
	font-size: 12px;
	/* margin-right: 7px; */
}

.job-detail-lower-portion-left p {
	padding: 0;
	color: var(--accent2);
	font-size: 12px;
	text-align: left;
}

.job a {
	display: flex;
}

.job-redirect {
	background-color: var(--dark-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	border: solid 3px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(30deg, var(--light-blue), var(--dark-blue));
	background-origin: border-box;
	background-clip: content-box, border-box;

	cursor: pointer;
	box-shadow: -3px 0 6px rgba(0, 0, 0, 0.192);
}

.job-redirect img {
	height: 30px;
	transform: rotate(180deg);
}

@media only screen and (max-width: 800px) {
	.job {
		border-radius: 5px;
	}
}
