:root {
	--main-background: #121212;
	--nav-background: #242526;
	--dark-primary: #1c1c1c;
	--dark-secondary: #2d2d2d;
	--accent-main: white;
	--accent1: #e4e4e4;
	--accent2: #949494;
	--border1: #4d4d4d;
}

.applied-jobs-container {
	background-color: var(--dark-primary);
	border-radius: 10px;
	padding: 10px 0 10px 0;
	margin-top: 20px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid var(--border1);
}

.applied-jobs-container .applied-jobs-title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.applied-jobs-container .applied-jobs-title h3 {
	padding: 0 15px;
	font-size: 13px;
	font-weight: 600;
	color: var(--accent2);
}

@media only screen and (max-width: 800px) {
	.applied-jobs-container {
		border-radius: 0;
	}
}
